.header {
    width: 100%;
    background-color: #fff;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 50px;
}
.innernav {
    display: flex;
    justify-content: space-between;
    /* FIXME */
    width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
    line-height: 30px;
}
.nav .innernav .navleft .navitem a {
    color: #222;
    border: 0;
}
.nav .innernav .navleft .navitem a:hover {
    color: var(--main);
    border-bottom: 1px solid var(--main);
    background-color: #fff;
    padding: 5px;
}
.navleft {
    display: flex;
}
.navleft .navitem {
    margin-right: 1rem;
}
.navright {
    display: flex;
}
.navright .navitem {
    margin-left: 10px;
}

/* * */
.stickybg {
    position: sticky;
    height: 50px;
    width: 100%;
    top: 0;
    background-color: var(--main);
    z-index: 150;
}
.navbg {
    height: 300px;
    background-color: var(--main);
}