.head {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    text-align: center;
}
.sup {
    background-color: rgb(248, 209, 33);
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
}
.postbox {
    /* FIXME */
    width: 1000px;
    padding: 50px;
    margin: 50px auto;
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
}
.yeartitle {
    font-size: 1.2rem;
    margin: 10px 0;
}
.items {
    padding: 10px;
    display: block;
    border: 0;
}
.items:hover {
    background-color: var(--main-blur1)
}
.items span {
    margin-right: 10px;
}

