html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, Ubuntu, JetBrains Mono ,Fira Code, sans-serif;
  font-size: 16px;
}

a {
  color: var(--main);
  text-decoration: none;
  border-bottom: dashed 1px var(--main);
  transition: all 0.3s ease;
}
a:hover {
  color: var(--main-dark);
}

* {
  box-sizing: border-box;
}

:root {
  --main: #00e09e; /* 青色 */
  --main-dark: #0bce93;
  --main-blur1: rgba(0, 224, 158, .1);
  --main-blur2: rgba(0, 224, 158, .2);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

hr {
  border: 0;
  border-top: 1px solid var(--main);
  margin: 20px;
}
.stickybg {
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 149;
}
