.main {
  width: 100%;
}
.article {
  /* FIXME */
  width: 1000px;
  margin: 10px auto;
}
/* * index */
.index {
  display: flex;
  /* FIXME */
  width: 1000px;
  margin: 0 auto;
}
.indexleft {
  flex: 7;
  overflow: auto;
}
.articleitem {
  background-color: #f9f9f9;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid #eee;
}
.indexright {
  flex: 3;
}
.info {
  padding: 20px;
  text-align: center;
}
.infologo {
  position: relative;
}
.infologo img {
  border-radius: 10px;
}
.readmore {
  margin: 10px 0;
  text-align: right;
}
.readmore button {
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--main);
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.2s linear;
  padding: 5px 10px;
}
.readmore button:hover {
  background-color: var(--main);
}
.readmore button:hover a {
  color: #fff;
}
.readmore button a {
  border: none;
  transition: all 0.2s linear;
}

