.postsmain {
  width: 100%;
}
.postsinnerbox {
  width: 1000px;
  margin: 20px auto;
  display: flex;
  /* FIXME */
  flex-wrap: wrap;
}
.postsStickybg {
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 149;
}
.postsinfo {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  padding: 20px;
  /* FIXME */
  width: 1000px;
  margin: 20px auto;
}
.catelink a {
  color: #222;
}
.postsinfo .infocate {
  display: flex;
}
.postsinfo .infocate div:not(:last-child)::after {
  content: ">";
  margin: 10px;
}
.poststags {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.poststags span {
  margin: 5px;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.poststags span:hover {
  background-color: var(--main-blur1);
}
.poststags span code{
  font-family: Fira Code, JetBrains Mono, microsoft yahei, sans-serif;
}
.poststags span code::before {
  content: "#";
}
/* ! markdown style */
.posts {
  flex: 7;
}
.postsbox {
  font-size: 1rem;
  line-height: 1.8rem;
}
.postsbox img {
  max-width: 100%;
}
.postsbox table {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  border: 1px solid #eee;
}
.postsbox table tr:nth-child(2n) {
  background-color: var(--main-blur1);
}
.postsbox table td {
  border: 1px solid var(--main);
  padding: 5px;
}
.postsbox table th {
  padding: 5px;
  border: 1px solid var(--main);
  background-color: var(--main-blur2);
}
.postsbox blockquote {
  margin: 0;
  padding: 5px 20px;
  border-left: 4px solid var(--main);
  background-color: var(--main-blur1);
  position: relative;
  /* margin: 30px 20px; */
}
.postsbox blockquote::before {
  content: "!";
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  font-size: 1.5rem;
  background-color: var(--main);
  border-radius: 50%;
  text-align: center;
  border: 8px solid #fff;
  color: #fff;
}
.postsbox h1,
.postsbox h2,
.postsbox h3,
.postsbox h4,
.postsbox h5,
.postsbox h6 {
  margin: 20px;
  /* * 用于toc定位 */
  scroll-margin-block: 60px;
}
.postsbox > p {
  margin: 20px;
}
.postsbox code {
  color: var(--main);
  font-family: Fira Code, JetBrains Mono, microsoft yahei, sans-serif;
}
.postsbox code::before,
.postsbox code::after {
  content: "`";
}
.postsbox pre {
  background-color: #f5f6f9;
  padding: 40px 20px 20px 20px;
  border-radius: 10px;
  position: relative;

  /* FIXME */
  max-width: 700px;
  overflow: auto;
}
.postsbox pre::before {
  content: "";
  position: absolute;
  top: 10px;
  background-color: #ff5f56;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  box-shadow: 40px 0 #27c93f, 20px 0 #ffbd2e;
}
.postsbox pre code {
  color: #222;
}
.postsbox pre code::before,
.postsbox pre code::after {
  content: "";
}
/* ! */
.postsaside {
  flex: 3;
}
.info {
  padding: 20px;
  text-align: center;
}
.infologo {
  position: relative;
}
.infologo img {
  border-radius: 10px;
}
.tocbox {
  position: sticky;
  top: 50px;
  max-height: calc(100vh - 60px);
  background-color: #fff;
  overflow: auto;
}
.tocbox a {
  color: #222;
  border: 0;
}
.tocbox a:hover {
  color: var(--main);
}
.tocbox ul {
  list-style-type: none;
  /* padding-left: 20px; */
}
.tocbox ul {
  line-height: 2;
}
